@page
@model miWeb.App.Frontend.Pages.CrearProvedoresModel
@{
}
<h1>Crear Proveedor De Servicio</h1>
<form method="post">
    <input type="hidden" asp-for="proveedoresDeServicios.id">
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.nombre"></label>
        <input asp-for="proveedoresDeServicios.nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.apellido"></label>
        <input asp-for="proveedoresDeServicios.apellido" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.apellido"></label>
        <input asp-for="proveedoresDeServicios.apellido" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.edad"></label>
        <input asp-for="proveedoresDeServicios.edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.estadoCovid"></label>
        <input asp-for="proveedoresDeServicios.estadoCovid" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="proveedoresDeServicios.servicioRealizado"></label>
        <input asp-for="proveedoresDeServicios.servicioRealizado" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Crear Personal De Aseo</button>

</form>