@page
@model Ofi.App.Frontend.Pages.EditarSecretariaModel
@{
}
<h1>Editar Secretaria</h1>
<form method="post">
    <input type="hidden" asp-for="secretaria.id">
    <div class="form-group">
        <label asp-for="secretaria.tipoSecretaria"></label>
        <input asp-for="secretaria.tipoSecretaria" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="secretaria.listaOficinas"></label>
        <input asp-for="secretaria.listaOficinas" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Crear secretaria</button>

</form>