@page
@model Ofi.App.Frontend.Pages.ListSecretariaModel
@{
}
<h1> Secretarias </h1>
<table class="table">
    @foreach (var item in Model.secretaria)
    {
        <tr>
            <td> @item.id</td>
            <td> @item.tipoSecretaria</td>
            <td> @item.listaOficinas</td>
            <td> 
                <a class="btn btn-primary" asp-area="" asp-page="/Secretaria/DetallesSecretaria"><i class="fas fa-align-justify"></i></a>
            
                <a class="btn btn-primary" asp-area="" asp-page="/Secretaria/EditarSecretaria"><i class="fas fa-edit"></i></a>
            
                <a class="btn btn-primary" asp-area="" asp-page="/Secretaria/EliminarSecretaria"><i class="fas fa-trash-alt"></i></a>
            </td>

        </tr>

    }
        

</table>

<a class="btn btn-primary" asp-area="" asp-page="/Secretaria/CrearSecretaria"aria-hidden="true">Crear nueva secretaria <i class="fas fa-plus-circle"></i></a>

