@page
@model Ofi.App.Frontend.Pages.ListSecretariaModel
@{
}
<h1> Secretaria </h1>
<table class="table">
    @foreach (var item in Model.secretaria)
    {
        <tr>
            <td> @item.id</td>
            <td> @item.tipoSecretaria</td>
            <td> @item.listaOficinas</td>

        </tr>
    }
   
</table>

