@page
@model miWeb.App.Frontend.Pages.EditarGobernacionModel
@{
}

<h1>Editar información Gobernacion </h1>
<form method="post">
    <input type="hidden" asp-for="gobernacion.id">
    <div class="form-group">
        <label asp-for="gobernacion.nombre"></label>
        <input asp-for="gobernacion.nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gobernacion.listaSecretarias"></label>
        <input asp-for="gobernacion.listaSecretarias" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>