@page
@model Ofi.App.Frontend.Pages.GobernacionModel
@{}

<h1>Lista Gobernaciones</h1>

<table class="table">
    @foreach (var gobernacion in Model.gobernaciones)
    {
        <tr>
            <td> @gobernacion.id</td>
            <td> @gobernacion.nombre</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesGobernacion" asp-route-gobernacionid="@gobernacion.id">
                <i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </td>
          </tr>
}
  </table>


